
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    background: #F9DE5A;
    margin: 0;
    display: grid;
    place-items: center;
    color: #0E1CA7; //color of the text at the end
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    height: 100vh; 
}


button {
    background: none;
    border: none;
    color: #0E1CA7; //color of text at the beginning
    position: relative; //this is important b/c it keeps the below &before position of absolute is relatve to this button default
    padding: .5em 1em;
    // font-weight: bold;
    font-size: 2em;
    text-align: center;
    border: 3px solid #0E1CA7; //border of the button
    cursor: pointer;
    border-radius: .4em;
    outline: none;
    width: 10em;
    font-family: 'Montserrat', sans-serif;

    &:before {
        position: absolute;
        content: '';
        background:  #DBB0BF;
        height: 100%;
        width: 100%;
        top: .5em;
        left: .5em;
        z-index: -1;
        border-radius: .4em;
    }
}

p {
    text-align: center;
    // font-weight: bold;
    clip-path: circle(0% at 50% 50%) //circle effect using GSAP 
}

svg {
    position: absolute;
    top: .7em;
    left: .5em;
    stroke-dasharray: 0 103;
}